<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <div class="total">


        <div class="main-image">
            <h1>
                <p style="text-align: center; margin-top: 0; color:black;">
                    Cho-A
                </p>
            </h1>
        </div>

        <ul>
            <li><a href="local.html">Home</a></li>
            <li><a href="local.html">Local</a></li>
            <li><a href="local.html">target-age</a></li>
            <li><a href="local.html">theme</a></li>

        </ul>

        <div class="text">
            category
        </div>
        <div class="theme-total">
            <div class="theme" style="background-color: aqua">Local</div>
            <div class="theme" style="background-color: burlywood">Local</div>
            <div class="theme" style="background-color: coral">Local</div>
        </div>
    </div>
</body>

</html>