
div.jumbotron {
 width: 900px;
 margin: auto;
}

div.card-columns{
 width: 900px;
 margin: 10px auto 0 auto;
}

div.form-post {
max-width: 500px;
padding: 2rem;
margin: 2rem auto;
border-color: #e9ecef;
border-radius: 0.3rem;
border: solid;
}

.comment {
color: blue;
font-weight: bold;
}

#posting-box {
 display: none;
}
